/* 
    Created on : 11/02/2015, 11:38:41 AM
    Author     : Luis Alonso Ballena Garcia
*/

.ui-state-default .icon-choice{
    background-image: url("#{resource['images/accept.png']}");
}

.ui-state-default .icon-add{
    background-image: url("#{resource['images/add.png']}");
}

.ui-state-default .icon-update{
    background-image: url("#{resource['images/pencil.png']}");
}

.ui-state-default .icon-delete{
    background-image: url("#{resource['images/button_cancel.gif']}");
}

.ui-state-default .icon-money{
    background-image: url("#{resource['images/money.gif']}");
}

.ui-state-default .icon-file{
    background-image: url("#{resource['images/file.gif']}");
}

.ui-state-default .icon-person-assigned{
    background-image: url("#{resource['images/person_assigned.png']}");
}

.ui-state-default .icon-detail{
    background-image: url("#{resource['images/detail.png']}");
}

.input-disable{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;  
    height: 34px;
    padding-top: 5px;
}

.bootstrap-calendar{
    font-size: 15px;
}
.bootstrap-calendar .ui-inputfield{
    width: 80%;
}

.ui-datepicker{
    font-size: 12px;
}

.DataList_SGSTT.ui-datalist .ui-datalist-data{
    font-size: 14px;line-height: 1.42857143;color: #555;
}

.DataList_SGSTT.ui-datalist .ui-datalist-item{
    margin-bottom: 2px;
}

#image_overlay{
    background-image: url("../images/cargar.gif");
    border: 0px;
    z-index: 9999;
    width: 31px;
    height: 31px;
    float: left;
    margin-right: 5px;
}

.btnExportarExcel { 
    display:block;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.btnExportarExcelLeft { 
    display:block;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

.buton_selectable{
    float: left;
    width: 44px;
}

.DataTable_Modal.ui-datatable .ui-datatable-data{
    font-size: 12px;
}

.DataTable_Modal.ui-datatable thead{
    font-size: 12px;
}

.Sgstt_OneMenu.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper{
    font-size: 12px;
}

.Sgstt_DataList.ui-datalist{
    font-size: 13px!important;font-family: Calibri !important;
}
.Sgstt_DataList.ui-datalist .ui-datalist-item{
    margin-top: 2px!important;
    margin-bottom: 2px!important;
}