/* 
    Created on : 11/02/2015, 11:38:41 AM
    Author     : Luis Alonso Ballena Garcia
*/

.ui-state-default .icon-choice{
    background-image: url("#{resource['images/accept.png']}");
}

.ui-state-default .icon-add{
    background-image: url("#{resource['images/add.png']}");
}

.ui-state-default .icon-update{
    background-image: url("#{resource['images/pencil.png']}");
}

.ui-state-default .icon-delete{
    background-image: url("#{resource['images/button_cancel.gif']}");
}

.ui-state-default .icon-money{
    background-image: url("#{resource['images/money.gif']}");
}

.ui-state-default .icon-file{
    background-image: url("#{resource['images/file.gif']}");
}

.input-disable{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;  
    height: 34px;
    padding-top: 5px;
}

.bootstrap-calendar .ui-inputfield{
    width: 80%;
}

.ui-datepicker{
    font-size: 12px;
}

.DataList_SGSTT.ui-datalist .ui-datalist-data{
    font-size: 14px;line-height: 1.42857143;color: #555;
}

.DataList_SGSTT.ui-datalist .ui-datalist-item{
    margin-bottom: 2px;
}