<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p - [%15.15t] %-40.40logger{39} : %m%n"/>

    <appender name="SERVER_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/sgstt_web/sgstt.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/sgstt_web/sgstt.%d.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate">
        <level value="INFO"/>
    </logger>

    <!-- fin logging de transacciones -->
    <root level="INFO">
        <appender-ref ref="SERVER_LOG_FILE"/>
    </root>
</configuration>

